<p></p>
<div id="orderDiv" class="container w-100 p-0 rounded">

<div id="insideContainer">
<br>

<h1 class="text-center"><small>Editing Order</small></h1>

<%= render 'form', order: @order %>

<%= link_to 'Show', @order, class:'btn btn-secondary text-black' %> |
<%= link_to 'Back', orders_path, class:'btn btn-secondary text-black' %>

<br><br>
</div>
</div>
