<p> </p>
<div id="orderDiv" class="container w-100 p-0 rounded">
<div  id="insideContainer">
<br>
<h1>New Order</h1>

<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %>
<br><br>
</div>
</div>
