<p> </p>
<div id="itemDiv" class="container w-100 p-0 rounded">

<div  id="insideContainer">
<br>
<h2 class="text-center"><small>Editing Item</small></h2>

<%= render 'form', candidate: @item %>

<%= link_to 'Show', @item, class:'btn btn-secondary text-white' %> |
<%= link_to 'Back', items_path, class:'btn btn-secondary text-white' %>

<br><br><br>
</div>
</div>
