<p> </p>
<div id=itemDiv" class="container w-100 p-0 rounded">
<div  id="insideContainer">
<br>
<h2 class= "text-center"><small>New Item</small></h2>

<%= render 'form', item: @item %>

<%= link_to 'Back', items_path, class:'btn btn-secondary text-black' %>

<br><br><br>
</div>
</div>